<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [168]:
import pandas as pd

In [169]:
data = pd.read_csv('../input/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0   39         State-gov   77516  ...               40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2   38           Private  215646  ...               40   United-States  <=50K
3   53           Private  234721  ...               40   United-States  <=50K
4   28           Private  338409  ...               40            Cuba  <=50K

[5 rows x 15 columns]

In [170]:
data.info()
data['salary'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

<=50K    24720
>50K      7841
Name: salary, dtype: int64

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [171]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [172]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [173]:
# You code here
(data['native-country']=='Germany').value_counts()[1]/data['native-country'].shape[0] * 100
# data['native-country'].value_counts()
# data.shape

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [174]:
# You code here
print(data[data['salary']=='>50K']['age'].std(),data[data['salary']=='>50K']['age'].mean())
print(data[data['salary']=='<=50K']['age'].std(),data[data['salary']=='<=50K']['age'].mean())

10.51902771985177 44.24984058155847
14.020088490824813 36.78373786407767

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [175]:
# You code here
# data[data['salary']=='>50K']
higher = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters','Doctorate']
data[(data['education'].isin(higher)) & (data['salary']=='>50K')]

print('No it is not compulsory that people having at least higher education earn more than 50K')

No it is not compulsory that people having at least higher education earn more than 50K

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [176]:
# You code here

race_group = data.groupby(by=['race'])
print(race_group.age.describe())

gender_group = data.groupby(by=['sex'])
print(gender_group.age.describe())
print(data[(data['race']=='Amer-Indian-Eskimo') & (data['sex']=='Male')]['age'].max())

                      count       mean        std  ...    50%   75%   max
race                                               ...
Amer-Indian-Eskimo    311.0  37.173633  12.447130  ...   35.0  45.5  82.0
Asian-Pac-Islander   1039.0  37.746872  12.825133  ...   36.0  45.0  90.0
Black                3124.0  37.767926  12.759290  ...   36.0  46.0  90.0
Other                 271.0  33.457565  11.538865  ...   31.0  41.0  77.0
White               27816.0  38.769881  13.782306  ...   37.0  48.0  90.0

[5 rows x 8 columns]
          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0
82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [177]:
# You code here
greater = data[data['salary']=='>50K']
never_married = greater[greater['marital-status']=='Never-married'].shape[0]
never = ['Never-married','Divorced','Separated','Widowed']
def apply(x):
    for i in never:
        if i in x:
            return True
    return False
greater[(greater['marital-status'].apply(apply))]
# greater.shape
# data.shape

       age         workclass  ...    native-country salary
8       31           Private  ...     United-States   >50K
19      43  Self-emp-not-inc  ...     United-States   >50K
53      50       Federal-gov  ...     United-States   >50K
84      44           Private  ...     United-States   >50K
89      43       Federal-gov  ...     United-States   >50K
143     45           Private  ...     United-States   >50K
154     52                 ?  ...     United-States   >50K
197     40       Federal-gov  ...     United-States   >50K
215     37           Private  ...     United-States   >50K
234     28           Private  ...     United-States   >50K
313     36  Self-emp-not-inc  ...     United-States   >50K
363     43           Private  ...     United-States   >50K
368     57           Private  ...     United-States   >50K
415     35           Private  ...     United-States   >50K
470     60           Private  ...     United-States   >50K
524     44           Private  ...     United-States   >50K
554     33       Federal-gov  ...     United-States   >50K
592     60           Private  ...     United-States   >50K
645     50      Self-emp-inc  ...     United-States   >50K
665     42           Private  ...     United-States   >50K
696     35           Private  ...     United-States   >50K
704     46           Private  ...     United-States   >50K
705     44           Private  ...     United-States   >50K
725     43           Private  ...                 ?   >50K
742     42           Private  ...     United-States   >50K
764     51           Private  ...     United-States   >50K
784     40           Private  ...     United-States   >50K
798     46           Private  ...     United-States   >50K
825     57           Private  ...     United-States   >50K
837     41           Private  ...     United-States   >50K
...    ...               ...  ...               ...    ...
31714   43           Private  ...     United-States   >50K
31744   46           Private  ...     United-States   >50K
31745   57       Federal-gov  ...     United-States   >50K
31747   42           Private  ...     United-States   >50K
31776   64           Private  ...            France   >50K
31851   42  Self-emp-not-inc  ...     United-States   >50K
31914   50           Private  ...     United-States   >50K
31918   26           Private  ...     United-States   >50K
31958   45           Private  ...     United-States   >50K
31967   44           Private  ...     United-States   >50K
32004   42           Private  ...     United-States   >50K
32027   46         Local-gov  ...     United-States   >50K
32081   49         Local-gov  ...     United-States   >50K
32084   48           Private  ...     United-States   >50K
32102   61         Local-gov  ...     United-States   >50K
32123   44       Federal-gov  ...     United-States   >50K
32135   48           Private  ...     United-States   >50K
32138   50      Self-emp-inc  ...     United-States   >50K
32164   35           Private  ...     United-States   >50K
32214   22         Local-gov  ...         Guatemala   >50K
32245   31           Private  ...     United-States   >50K
32247   44       Federal-gov  ...     United-States   >50K
32256   41           Private  ...     United-States   >50K
32311   54           Private  ...     United-States   >50K
32341   74  Self-emp-not-inc  ...           Germany   >50K
32370   53  Self-emp-not-inc  ...       Philippines   >50K
32429   51         Local-gov  ...     United-States   >50K
32504   50           Private  ...     United-States   >50K
32536   34           Private  ...     United-States   >50K
32538   38           Private  ...     United-States   >50K

[1105 rows x 15 columns]

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [178]:
# You code here
print(data['hours-per-week'].max())

# print(data[(data['hours-per-week']==data['hours-per-week'].max())].shape)
first = data[(data['hours-per-week']==data['hours-per-week'].max())]
# print(type(first))
print(first[first['salary']=='>50K'].shape[0]/first.shape[0] * 100)

99
29.411764705882355

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [179]:
# You code here
# salary_per_country = data.groupby('native-country')
# salary_per_country.first()

sorted_val = data.groupby(by=['native-country','salary'])
print(sorted_val['hours-per-week'].mean())

print("Japan")
print(data[data['native-country']=='Japan'].groupby(by='salary')['hours-per-week'].mean())

native-country              salary
?                           <=50K     40.164760
                            >50K      45.547945
Cambodia                    <=50K     41.416667
                            >50K      40.000000
Canada                      <=50K     37.914634
                            >50K      45.641026
China                       <=50K     37.381818
                            >50K      38.900000
Columbia                    <=50K     38.684211
                            >50K      50.000000
Cuba                        <=50K     37.985714
                            >50K      42.440000
Dominican-Republic          <=50K     42.338235
                            >50K      47.000000
Ecuador                     <=50K     38.041667
                            >50K      48.750000
El-Salvador                 <=50K     36.030928
                            >50K      45.000000
England                     <=50K     40.483333
                            >50K      44.533333
France                      <=50K     41.058824
                            >50K      50.750000
Germany                     <=50K     39.139785
                            >50K      44.977273
Greece                      <=50K     41.809524
                            >50K      50.625000
Guatemala                   <=50K     39.360656
                            >50K      36.666667
Haiti                       <=50K     36.325000
                            >50K      42.750000
                                        ...
Mexico                      >50K      46.575758
Nicaragua                   <=50K     36.093750
                            >50K      37.500000
Outlying-US(Guam-USVI-etc)  <=50K     41.857143
Peru                        <=50K     35.068966
                            >50K      40.000000
Philippines                 <=50K     38.065693
                            >50K      43.032787
Poland                      <=50K     38.166667
                            >50K      39.000000
Portugal                    <=50K     41.939394
                            >50K      41.500000
Puerto-Rico                 <=50K     38.470588
                            >50K      39.416667
Scotland                    <=50K     39.444444
                            >50K      46.666667
South                       <=50K     40.156250
                            >50K      51.437500
Taiwan                      <=50K     33.774194
                            >50K      46.800000
Thailand                    <=50K     42.866667
                            >50K      58.333333
Trinadad&Tobago             <=50K     37.058824
                            >50K      40.000000
United-States               <=50K     38.799127
                            >50K      45.505369
Vietnam                     <=50K     37.193548
                            >50K      39.200000
Yugoslavia                  <=50K     41.600000
                            >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64
Japan
salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64

In [180]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64